.woning-overzicht {
    .woning {
        
    }
}

#content-woning-main {
    #tekst-inhoud {
        max-height: 300px;
        position: relative;
        width: 100%;
        float: left;
        overflow: hidden;
        padding-top: 15px;
        line-height: 30px;
        font-size: 16px;
        text-overflow: ellipsis;
        transition: all 1s ease-out;
        mask-image: linear-gradient(180deg, #000 60%, transparent);

        &.volledig {
            max-height: 100% !important;
            transition: all 1s ease-out;
            mask: none !important;
        }
    }
    .tekst-leesmeer {
        width: fit-content;
        float: left;
        margin-top: 30px;
        font-weight: 600;
        cursor: pointer;
    }
}