:root{
    /* kleuren */
    --backBlack: #333;
    --background: #2a2a2a; 
    --textlight: #ffffff; 
    --primary: #D03184;
    --darkpurple: #8A3486;  
    --secondary: #FFC20E;
    --lightGray: #dfdfdf;
    
    /* RGB kleuren */
    --rgb-backBlack: 51, 51, 51;
    --rgb-text: 51, 51, 51; 
    --rgb-primary: 0, 180, 255;
    --rgb-secondary: 255, 137, 0;
    --rgb-lightGray: 223, 223, 223;
    
    /* fonts */
    --bodyFont: 'Playfair Display';
    --bodyFontType: 'sans-serif';
    --headingFont: 'Source Sans Pro';
    --headingFontType: 'sans-serif';
    --sitework: 'Poppins';
    --siteworkType: 'sans-serif';
    
    --baseFontSize: '18px';
    --baseLineHeight: '1.5';
    
    /* UI */
    --borderRadius: 8px;
    
}


